<div class="row">
	<div class="col-sm-12">
		<h1 class="page-header">Food</h1>
		<form class="form-inline">
			<div class="form-group">
				<input type="text" ng-model="newFoodName" placeholder="Enter new food...">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-sm" type="button" ng-click="addFood()">
					Add Food
				</button>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li ng-repeat="food in foods">
						<food food="food" remove="removeFood($index)"></food>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>